.word-display {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.masked-word {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.errors {
  margin-top: 1.5cm;   /* Abstand nach unten */
  font-size: 1.2rem;
  color: #333;
}
